.formulario-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .card {
	width: 400px;
	padding: 40px;
	border: 1px solid #e8c3c9;
	border-radius: 4px;
	background-color: #f9e9ec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	color: #de387d;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
	color: #de387d;
  }
  
  input[type="file"],
  input[type="text"],
  input[type="number"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #de387d;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #bf185b;
  }
  