.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5dddd;
}

.login-card {
  width: 300px;
  padding: 60px;
  border-radius: 6px;
  background-color: #fbecf7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #de387d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #de387d;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #de387d;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #871a52;
  } */

.password {
  margin-bottom: 20px;
}

.password label {
  margin-right: 10px;
  color: #de387d;
}

.password input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f9e9ec;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.login-card .login-image {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
}
